*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-gradient{
  background: linear-gradient(
    to top,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-white{
    color: #FFFFFF;
}
.btn-primary{
    border-radius: 1000px;
    border: none;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(
        to right,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    color: #FFFFFF;
}
.max-width-container{
    max-width: 1600px;
    margin: 0 auto;
}
.bg-primary{
    background-color: #1A0B2E;
}
/* navbar section styles */
nav{
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.nav-title{
    font-size: 3rem;
    font-weight: 800;

}
nav ul{
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.9;
}
/* responsive media query */
/* for small devices */
@media screen and (max-width: 576px) {
    .menu-links,
    .btn-primary{
        display: none;
    }
    nav{
        align-items: center;
        padding: 15px;
    }    
}
/* for large devices */
@media screen and (min-width: 992px) {
    #hamburger-menu{
        display: none;
    }
}