*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-gradient{
  background: linear-gradient(
    to top,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-white{
    color: #FFFFFF;
}
.text-center{
    text-align: center;
}
.btn-primary{
    border-radius: 1000px;
    border: none;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(
        to right,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    color: #FFFFFF;
}
/* hover animation */
.btn-primary:hover{
    transform: scale(1.1);
    transition: .3s ease-in;
}
#btn-responsive{
    border-radius: 1000px;
    border: none;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(
        to right,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    color: #FFFFFF;
}
/* hover animation */
#btn-responsive:hover{
    transform: scale(1.1);
    transition: .3s ease-in;
}
.btn-secondary{
    border: 2px solid #00FF88;
    border-radius: 1000px;
    background: transparent;
    color: #00FF88;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
}
/* hover animation */
.btn-secondary:hover{
    transform: scale(1.1);
    transition: .3s ease-in;
}
.bg-primary{
    background-color: #1A0B2E;
}
.bg-secondary{
    background-color: #2A186C;
}
.bg-secondary-light{
    background-color: #230E3D;
}
.section-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.section-description{
    font-size: 1rem;
    margin-bottom: 1.25rem;
    opacity: .6;
}
/* navbar section styles */
nav{
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding: 15px 0;
    
}
.nav-title{
    font-size: 3rem;
    font-weight: 800;

}
nav ul{
    list-style: none;
    gap: 32px;
    align-items: center;
    margin-left: -100px;
}
nav li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.9;
}
/* banner section styles */
.banner{
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.banner-content{
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  z-index: 2;
  margin-top: 30px;
  position: relative;
}
#badge{
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    border: none;
    position: absolute;
    z-index: 2;
    left: 65%;
    top: 18%;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.banner-image-container{
    position: relative;
    margin-top: 100px;
}
.mic{
    position: absolute;
    top: 25%;
    left: 39%;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 2.5rem;
}
.banner-description{
    font-size: 1rem;
    opacity: 0.6;
    margin-top: .5rem;
}
.banner-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 4.5rem;
}
.btn-1{
    display: flex;
    align-items: center;
    gap: .3rem;
}
#btn-responsive{
    display: flex;
    align-items: center;
    gap: .3rem;
}
.btn-2{
    display: flex;
    align-items: center;
    gap: .3rem;
}
/* about section styles */
.about{
    padding: 50px 200px 120px 200px;
}
.about hr{
    margin-top: 3rem;
    margin-bottom: 3rem;
    opacity: .3;
}
.about-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    align-items: center;
}
.stats{
    font-size: 3rem;
    font-weight: 800;
    color: #00FF88;
}
.stats:hover{
    transform: scale(1.2);
    transition: .3s ease-in;
}
.stats-description{
    font-size: 1rem;
    margin-top: .75rem;
    opacity: .6;
}
/* features section styles */
.features{
    padding: 120px 200px;
}
.features-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    gap: 30px;
    margin-top: 40px;
}
.features-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}
.long-card{
    align-content: center;
}
.feature-title{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.feature-description{
    font-size: 1rem;
    opacity: .5;
}
.long-layout{
    grid-row: span 2;
    grid-column: span 1;
}
.wide-layout{
    grid-column: span 2;
}
.normal-layout{
    grid-row: span 1;
    grid-column: span 1;
}
/* featured episodes section styles */
.episodes{
    padding: 100px 200px;
}
.episode-section-title{
    margin-bottom: 30px;
    margin-top: -20px;
}
.playlist-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.playlist{
    max-width: 380px;
    border: none;
    border-radius: 30px;
    background-color: #250D44;
}
.playlist iframe{
    width: 100%;
    border-radius: 30px;
}
.playlist-content{
    padding: 20px;
}
.playlist-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.playlist-description{
    font-size: .9rem;
    opacity: .5;
    margin-bottom: 10px;
}
.logo-duration{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
}
.playlist-duration{
    font-size: .9rem;
    color: #00FF88;
}
/* meet the host section styles */
.host{
    margin-top: 100px;
}
.host-section-title{
    margin-bottom: 20px;
}
.host-container{
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    border-radius: 40px;
    align-items: center;
    gap: 30px;
    padding: 45px;
}
.host-name{
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.host-experience{
    font-size: 1rem;
    opacity: .5;
    text-align: justify;
}
.social-links{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.icon-box{
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.icon-box img{
    width: 100%;
}
/* footer section styles */
footer{
    background-image: url('../assets/footer-bg.png');
    background-position: center;
    background-size: cover;
    padding: 180px;
    position: relative;
}
.footer-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-title{
    font-size: 4rem;
    font-weight: 800;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-link{
    display: flex;
    align-items: center;
    opacity: .8;
}
.copyright{
    margin-top: 20px;
    opacity: .4;
}
/* responsive media query */
/* for small devices */
@media screen and (max-width: 576px) {
    /* navbar section styles */
    .menu-links,
    .btn-primary{
        display: none;
    }
    nav{
        align-items: center;
        padding: 15px;
    } 
    .nav-title{
        font-size: 2.4rem;
    }   
    .width-container{
        margin: 0 auto;
    }
    /* banner section styles */
    .banner{
        flex-direction: column;
        background-position: center;
    }
    .banner-image-container{
        margin-top: 50px;
    }
    .banner-image-container #hero-circle{
        width: 250px;
        height: 250px;
        position: relative;
    }
    .mic{
        height: 150px;
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #badge{
        top: 13%;
    }
    .banner-buttons{
        align-items: center;
        margin-bottom: 15px;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .banner-description{
        padding: 0 20px 20px 20px;
    }
    /* about section styles */
    .about{
        padding: 20px;
    }
    .stats-description{
        font-size: .75rem;
    }
    .section-title{
        font-size: 1.75rem;
        margin-top: 1rem;
    }
    .about-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .stats{
        font-size: 2.5rem;
    }
    /* features section styles */
    .features{
        padding: 20px;
    }
    .features-card-container{
        grid-template-columns: 1fr;
        padding: 10px;
        padding-left: 10px;
        margin-top: 10px;
    }
    .long-layout,
    .wide-layout,
    .normal-layout{
        grid-column: span 1;
    }
    /* featured episodes section styles */
    .episodes{
        padding: 5px;
    }
    .episode-section-title{
        font-size: 2.3rem;
    }
    .playlist-container{
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .playlist{
        width: 100%;
        justify-self: center;
    }
    /* meet the host section styles */
    .host{
        padding: 20px;
    }
    .host-section-title{
        margin-top: -60px;
        font-size: 2.3rem;
    }
    .host-container{
        flex-direction: column;
        text-align: center;
    }
    .host-name{
        font-size: 1.5rem;
    }
    .host-experience{
        text-align: center;
        font-size: 0.8rem;
    }
    .social-links{
        justify-content: center;
    }
    /* footer section styles */
    /* footer {
        padding: 80px 20px;
    }
    .footer-content{
        position: static;
        top: auto;
        left: auto;
        transform: none;
        display: flex;

        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-title{
        font-size: 2.5rem;
    }
    .footer-links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        align-items: center;
    }
    .footer-link{
        justify-content: center;
    }
    .footer-link p{
        font-size: 0.75rem;
    }
    .copyright{
        font-size: 0.8rem;
        margin-top: 20px;
    } */
    .footer-title{
        font-size: 2.5rem;
    }
    .footer-links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}
/* for large devices */
@media screen and (min-width: 993px) {
    #hamburger-menu, #btn-responsive{
        display: none;
    }
}